[submodule ".themes/budget-bumbago"]
	path = .themes/budget-bumbago
	url = git://github.com/octothemes/budget-bumbago.git
[submodule ".themes/constant-cockles"]
	path = .themes/constant-cockles
	url = git://github.com/octothemes/constant-cockles.git
[submodule ".themes/light"]
	path = .themes/light
	url = git://github.com/octothemes/classic-light.git
[submodule ".themes/forest"]
	path = .themes/forest
	url = git://github.com/octothemes/forest.git
